
$border-color : #ccc;
$border-style: 1px solid $border-color;

h2 { 
	font-family: 'Lato', 'PT Sans', sans-serif; 
}

a.active { color: #BE7016; }

#title {
	font-weight: normal;
}

#main {
	margin-top: 10px;
	min-height: 300px;
}

footer {
	color: #aaa;

	&.row {
		max-width: none;
		margin-top: 20px;
	}

	p {
		font-size: rem-calc(12);
		margin: 0;
		padding: 5px 0;
		border-top: $border-style;
	}
}

.goal-panel {
	padding: 5px;
	margin: 10px 0;
	border: $border-style;

	li {
		list-style-position: inside;
	}
}

.ember-view {
/*	border: 1px solid rgb(113, 70, 70);
	padding: 5px;
	margin: 2px;
	background-color: rgba(79, 61, 39, 0.2); */
}

.center.layout {
	padding: 40px 0 50px;

	.button { margin-top: 35px; }
}

.delete-x {
	color: $border-color;
	font-weight: bold;
	line-height: 1em;

	padding: 1px 3px 3px;
	margin-right: 2px;

	float: right;

	transition: color 300ms ease;

}
h4:hover .delete-x {
	color: scale-color($border-color, $lightness: -20%);
}
h4 .delete-x:hover {
	color: #D7451A;
}
// goal.hbs 
.goal-display {
	img {
		width: 100%;
		height: auto;
	}
	.dates {
		width: 100%;
		overflow: auto;
		margin-bottom: 20px;
	}
	p {
		color: $border-color;
		text-align: right;
		font-size: 13px;
		margin: 0;
	}
	
}

/* Step list */
.steps {
	list-style: none;
	&.goal { margin-left: 2px; }

	input {
		margin: 0;
	}
	
}
.is-completed {
	text-decoration: line-through;
	color: $border-color;

	a { color: inherit; }
	input { opacity: .5; }
	.delete-x { display: none; }
}

/*  d3 css */
.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.d3-chart {
	min-width: 30px;
	min-height: 30px;
	border: $border-style;

	svg {
		margin: 0 auto;
		display: block;
	}

	.node circle {
	  fill: #fff;
	  stroke: steelblue;
	  stroke-width: 1.5px;
	}

	.node {
	  font: 12px sans-serif;
	}

	.link {
	  fill: none;
	  stroke: #ccc;
	  stroke-width: 2px;
	}
}
