{{!-- Automagically displayed during error --}}
{{#center-layout}}
	<h1>Whoops! <br/> This Goal doesn't exist.</h1>
	{{#link-to 'goals' class="button" activeClass=""}}Back to Goals{{/link-to}}
{{/center-layout}}