<p>Goals:</p>

<ol class="goal-panel">
	{{#each goals}}
		<li>
			<h3>{{#link-to 'goals.goal' this}} {{title}} {{/link-to}}</h3>
			<ul> 
				{{#each steps}}
					{{partial 'step'}}
				{{/each}}
			</ul>
		</li>
	{{/each}}
</ol>

{{outlet}} 
