<p>Goals: {{numGoals}}</p>

<ol class="goal-panel">
	{{#each goals}}
		<li>
			<h4>{{#link-to 'goals.goal' this}} {{title}} {{/link-to}}</h4>
			<ul> 
				{{#each steps}}
					{{partial 'step'}}
				{{/each}}
			</ul>
		</li>
	{{/each}}
</ol>

{{outlet}} 
