{{#link-to 'goals'}}Goals{{/link-to}} :
{{#link-to 'goals.new'}}New Goal{{/link-to}}
{{!-- {{#link-to 'goals.list'}}List{{/link-to}} --}}
{{#if hasItems}}
	: <a href="javascript:void(0);" {{action 'random'}}>Random</a>
{{/if}}

<hr>
{{outlet}}
