
<h2 id='title'>I Choose to Start</h2>
<h3 style="padding: 0 0 0 80px;">One <em>Small</em> Step</h3>

<div class="d3-chart" style="padding: 50px;"> 	
	<p>Culmulative line graph of achieved goals</p>
</div>

{{view 'goals'}}
